<div class="auth-wrapper" style="margin-top: 40px">
  <form class="form-forgot-password" [formGroup]="resetForm" (ngSubmit)="resetHandler()">
    <div *ngIf="errors?.error" class="alert alert-danger mt-3">
      {{ errors?.error }}
    </div>
    <div *ngIf="message" class="alert alert-success mt-3">
      {{ message | json }}
    </div>

    <!-- Login -->
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
    <button class="btn btn-secondary" (click)="goToLogin()">Cancel</button>
  </form>
</div>
